In [1]:
import pandas as pd

def get_sample_gene_summary():
    sample_gene_summary = pd.read_csv('all_sample.gene_coverage.sample_gene_summary', delimiter='\t', index_col=False)
    return sample_gene_summary

In [2]:
df = get_sample_gene_summary()

In [3]:
df.head()

,Gene,total_coverage,average_coverage,7421_total_cvg,7421_mean_cvg,7421_granular_Q1,7421_granular_median,7421_granular_Q3,7421_%_above_5,7421_%_above_10,7421_%_above_20,9334_total_cvg,9334_mean_cvg,9334_granular_Q1,9334_granular_median,9334_granular_Q3,9334_%_above_5,9334_%_above_10,9334_%_above_20
0,OR4F5_CCDS30547.1,288,0.31,288,0.31,1,1,2,0.0,0.0,0.0,0,0.00,1,1,1,0.0,0.0,0.0
1,OR4F16_CCDS41221.1,0,0.00,0,0.00,1,1,1,0.0,0.0,0.0,0,0.00,1,1,1,0.0,0.0,0.0
2,SAMD11_CCDS2.2,503,0.25,245,0.12,1,1,1,0.0,0.0,0.0,258,0.13,1,1,1,0.0,0.0,0.0
3,NOC2L_CCDS3.1,1313,0.58,834,0.37,1,1,1,0.0,0.0,0.0,479,0.21,1,1,1,0.0,0.0,0.0
4,KLHL17_CCDS30550.1,1558,0.81,1032,0.53,1,1,2,0.0,0.0,0.0,526,0.27,1,1,1,0.0,0.0,0.0

In [4]:
df.columns

Index(['Gene', 'total_coverage', 'average_coverage', '7421_total_cvg',
       '7421_mean_cvg', '7421_granular_Q1', '7421_granular_median',
       '7421_granular_Q3', '7421_%_above_5', '7421_%_above_10',
       '7421_%_above_20', '9334_total_cvg', '9334_mean_cvg',
       '9334_granular_Q1', '9334_granular_median', '9334_granular_Q3',
       '9334_%_above_5', '9334_%_above_10', '9334_%_above_20'],
      dtype='object')

In [26]:
def prepare_df(df):
    columns = df.columns.tolist()
    unique_columns = list(set(["_".join(col.split('_')[1:]) for col in columns[3:]]))
    
    for column in unique_columns:
        columns_for_mean = [original_column_name for original_column_name in df.columns if column in original_column_name]
        df[column] = df[columns_for_mean].mean(axis=1)
        
    return df.drop(columns=columns[3:])

In [28]:
df2 = prepare_df(df)

In [29]:
df2.columns

Index(['Gene', 'total_coverage', 'average_coverage', 'Q1', 'above_20',
       'median', 'above_5', 'above_10', 'Q3', 'cvg'],
      dtype='object')

In [12]:
df2.head()

,Gene,total_coverage,average_coverage,%_above_10,granular_Q1,%_above_20,mean_cvg,granular_Q3,%_above_5,granular_median,total_cvg,gene_name
0,OR4F5_CCDS30547.1,288,0.31,0.0,1.0,0.0,0.155,1.5,0.0,1.0,144.0,OR4F5
1,OR4F16_CCDS41221.1,0,0.00,0.0,1.0,0.0,0.000,1.0,0.0,1.0,0.0,OR4F16
2,SAMD11_CCDS2.2,503,0.25,0.0,1.0,0.0,0.125,1.0,0.0,1.0,251.5,SAMD11
3,NOC2L_CCDS3.1,1313,0.58,0.0,1.0,0.0,0.290,1.0,0.0,1.0,656.5,NOC2L
4,KLHL17_CCDS30550.1,1558,0.81,0.0,1.0,0.0,0.400,1.5,0.0,1.0,779.0,KLHL17

In [16]:
sample_gene_summary = df2
sample_gene_summary['gene_name'] = sample_gene_summary.Gene.apply(lambda x: x.split('_')[0])
df3 = sample_gene_summary.loc[sample_gene_summary['gene_name'].isin(['DAZ1', 'TNFRSF18'])]

In [27]:
df4 = pd.DataFrame()
for x, y in df3.groupby('gene_name'):
    print(x)
    prepare_df(y)

DAZ1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

TNFRSF18

In [30]:
prepare_df(df3)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,Gene,total_coverage,average_coverage,Q1,above_20,median,above_5,above_10,cvg,name,Q3
15,TNFRSF18_CCDS9.1,185,0.24,1.0,0.00,1.0,0.0,0.0,46.3075,NaN,1.0
16,TNFRSF18_CCDS10.1,185,0.19,1.0,0.00,1.0,0.0,0.0,46.2975,NaN,1.0
17,TNFRSF18_CCDS30552.1,185,0.19,1.0,0.00,1.0,0.0,0.0,46.2975,NaN,1.0
28812,DAZ1_CCDS48209.1,209341,93.66,17.5,47.15,43.5,50.0,50.0,52358.6650,NaN,73.5